@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

:root {
    --font-base: "Poppins", sans-serif;
    --font-logo: "Great Vibes", cursive;

    --color-light: #e5e9ea;
    --color-dark: #202324;
    --color-gray: #95a7af;
    --color-blue: #c9e3f0;
    --color-lighter: #f0f7f8;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-lighter);
    font-family: var(--font-base);
}

h2 {
    text-transform: capitalize;
}

header {
    
    margin-top: 8rem;
}

.table {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer {
    text-align: center;
}

.artist {
    padding: 0;
    margin: 0;
    margin-top: 0rem;
    margin-left: 1rem;
    font-size: 10px;
    text-align: left;
}