@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap");

:root {
    --font-base: "Poppins", sans-serif;

    --color-light: #e5e9ea;
    --color-dark: #34383a;
    --color-gray: #95a7af;
    --color-blue: #c9e3f0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-light);
}

h2 {
    text-transform: capitalize;
}

header {
    text-align: center;
    margin-top: 8rem;
}

img {
    width: 300px;
    height: 250px;
    object-fit: cover;
    border-radius: 1rem;
    margin: 0 1rem 0 1rem;
    padding-bottom: 0rem;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding-bottom: 0rem;
}

.table {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer {
    text-align: center;
}

.artist {
    padding: 0;
    margin: 0;
    margin-top: 0rem;
    margin-left: 1rem;
    font-size: 10px;
    text-align: left;
}