@import url("../index.css");

nav {
    box-shadow: 0px 1px 50px 1px rgb(155, 163, 168);
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--color-light);
    z-index: 5;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
}

nav ul a {
    text-decoration: none;
    padding: 0 3rem 0 3rem;
    
    font-family: var(--font-base);
    font-weight: 600;
    text-transform: capitalize;
    font-size: 1.5rem;
    color: var(--color-dark);
}

nav ul li {
    transition: filter 0.2s ease-in-out, transform 0.2s ease-in-out;
}

nav ul li:hover {
    transform: translateY(-0.18rem);
    filter: brightness(220%);
    cursor: pointer;
}