@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap");

:root {
    --font-base: "Poppins", sans-serif;
    --font-secondary: ;

    --color-main: ;
    --color-secondary: ;
}

* {
    box-sizing: border-box;
}

